<h2> Петиция № <%= @petition.id %></h2>

<h4><%= @petition.title %></h4>
<p><%= @petition.created_at.strftime("%d/%m/%Y %H:%M")%></p>
<p>
  <strong>Описание:</strong>
  <%= @petition.text %>
</p>
<p>
  <strong>Голосов:</strong>
  <%= @petition.votes.count %>
</p>
<td>
  <% if current_user %>
      <%=  button_to 'Поддержать', petition_votes_path(@petition), method: :post unless (@petition.user_id == current_user.id) || @petition.expired? %>
  <% end %>
</td>

